 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family:  font-family "Roboto", sans-serif;  
 }
 :root{
--bg-color:#0c0c0c;
--text-color:#fff;
--main-color: #ae8957;

--big-font:6.6 rem;
--p-font: 1rem;
 }
 body{
    background: var(--bg-color);
    color: var(--text-color);
    
 }